<div id="hud-menu-settings" class="hud-menu hud-menu-settings">
  <a class="hud-menu-close"></a>
  <h3>Settings</h3>
  <div class="hud-settings-grid">
    <label>
      <span>Controls</span>
      <ul class="hud-settings-controls">
        <li>Movement: <strong>W, A, S, D</strong></li>
        <li>Turn: <strong>Mouse</strong></li>
        <li>Gather/Attack/Build: <strong>Left-Click</strong></li>
        <li>Unselect: <strong>Esc or Right-Click</strong></li>
        <li>Auto-Attack: <strong>Space</strong></li>
        <li>Quick Upgrade: <strong>E</strong></li>
        <li>Quick Sell: <strong>T</strong></li>
        <li>Quick Heal: <strong>F</strong></li>
        <li>Upgrade All: <strong>Hold Shift or Alt</strong></li>
        <li>Cycle Weapons: <strong>Q</strong></li>
        <li>Shop Menu: <strong>B</strong></li>
        <li>Party Menu: <strong>P</strong></li>
      </ul>
    </label>
    <label>
      <span>Essentials</span>
      <ul class="hud-settings-hints">
        <li><span class="hud-settings-hints-icon hud-settings-hints-base"></span> Build a gold stash to establish your
          base and start defending.</li>
        <li><span class="hud-settings-hints-icon hud-settings-hints-resources"></span> Collect resources with your
          pickaxe to upgrade your base.</li>
        <li><span class="hud-settings-hints-icon hud-settings-hints-towers"></span> Build towers to defend against
          zombies.</li>
        <li><span class="hud-settings-hints-icon hud-settings-hints-gold-mine"></span> Build gold mines to generate gold
          and upgrade your buildings.</li>
        <li><span class="hud-settings-hints-icon hud-settings-hints-shop"></span> Use the Shop to buy weapons and
          upgrade them.</li>
      </ul>
    </label>
    <label>
      <span>Walkthrough</span>
      <a class="hud-settings-restart-walkthrough btn btn-green">Restart Walkthrough</a>
    </label>
  </div>
</div>