<div id="hud-menu-party" class="hud-menu hud-menu-party">
  <a class="hud-menu-close"></a>
  <h3>Parties <small class="hud-party-server"></small></h3>
  <div class="hud-party-tabs">
    <a class="hud-party-tabs-link is-active" data-type="Members">Your Party</a>
    <a class="hud-party-tabs-link" data-type="Open">Open Parties</a>
  </div>
  <div class="hud-party-members"></div>
  <div class="hud-party-grid">
    <div class="hud-party-joining">Requesting to join...</div>
    <div class="hud-party-empty">No parties are currently available to join.</div>
  </div>
  <div class="hud-party-actions">
    <input type="text" class="hud-party-tag" placeholder="Your party's tag..." maxlength="12">
    <input type="text" class="hud-party-share" placeholder="Your party share link...">
    <a class="hud-party-visibility is-private">Private</a>
  </div>
</div>