<div id="hud-menu-shop" class="hud-menu hud-menu-shop">
  <a class="hud-menu-close"></a>
  <h3>Shop</h3>
  <div class="hud-shop-tabs">
    <a class="hud-shop-tabs-link is-active" data-type="Weapon">Weapons</a>
    <a class="hud-shop-tabs-link" data-type="Armor">Armor</a>
    <a class="hud-shop-tabs-link" data-type="Hat">Hats</a>
    <a class="hud-shop-tabs-link" data-type="Pet">Pets</a>
    <a class="hud-shop-tabs-link" data-type="Utility">Utility</a>
  </div>
  <div class="hud-shop-grid"></div>
</div>