<div id="hud-respawn" class="hud-respawn">
  <div class="hud-respawn-wrapper">
    <div class="hud-respawn-main">
      <div class="hud-respawn-info">
        <h2>Oh dear....</h2>
        <p class="hud-respawn-text"></p>
        <div class="hud-respawn-share">
          <a href="javascript:;" class="hud-respawn-twitter-btn">Share on Twitter</a>
          <a href="javascript:;" class="hud-respawn-facebook-btn">Share on Facebook</a>
        </div>
        <button type="submit" class="hud-respawn-btn">Respawn</button>
      </div>
    </div>
  </div>
  <div class="hud-respawn-corner-bottom-left">
    <div class="hud-respawn-social">
      <p>Come chat with us on Discord and get instant updates for new features on Twitter/Facebook!</p>
      <a href="https://discord.gg/CuKpMMP" target="_blank" class="btn btn-discord hud-respawn-social-discord"></a>
      <a href="https://twitter.com/intent/follow?original_referer =http%3A%2F%2Fzombs.io%2F&ref_src =twsrc%5Etfw&screen_name =ZOMBSio&tw_p =followbutton"
        target="_blank" class="btn btn-twitter hud-respawn-social-twitter"></a>
      <a href="https://www.facebook.com/zombsio/" target="_blank"
        class="btn btn-facebook hud-respawn-social-facebook"></a>
      <a href="https://www.youtube.com/channel/UCo9aJFjNTFxXaxg2UxGsBUA?sub_confirmation =1" target="_blank"
        class="btn btn-youtube hud-respawn-social-youtube"></a>
    </div>
  </div>
</div>