<div id="hud-spell-icons" class="hud-spell-icons">
  <div class="hud-spell-icon is-disabled" data-type="HealTowersSpell">
    <h4>Heal Towers</h4>
    <h5>Spell</h5>
    <div class="hud-spell-icon-cooldown">
      <span class="hud-spell-icon-cooldown-left"></span>
      <span class="hud-spell-icon-cooldown-right"></span>
    </div>
    <div class="hud-tooltip-body">
      <p>Heals your towers over time in an area of effect.</p>
    </div>
  </div>
  <div class="hud-spell-icon" data-type="TimeoutItem">
    <h4>Timeout</h4>
    <h5>Utility</h5>
    <div class="hud-spell-icon-cooldown">
      <span class="hud-spell-icon-cooldown-left"></span>
      <span class="hud-spell-icon-cooldown-right"></span>
    </div>
    <div class="hud-tooltip-body">
      <p>Prevent zombies from spawning for one day-night cycle.</p>
    </div>
  </div>
</div>